<h1> Registro de usuario</h1>

<form action="/api/sessions/register" method="POST">
    <label for="name">Nombre</label>
    <input type="text" name="first_name" id="name" required>
    <br>
    <label for="last_name">Apellido</label>
    <input type="text" apellido="last_name" id="last_name" required>
    <br>
    <label for="last_name">Apellido</label>
    <input type="text" apellido="last_name" id="last_name" required>
    <br>
    <label for="email">Email</label>
    <input type="text" apellido="email" id="email" required>
    <br>
    <label for="password">Contraseña</label>
    <input type="text" apellido="password" id="password" required>
    <br>
    <label for="edad">Edad</label>
    <input type="number" apellido="edad" id="edad" required>
    <br>
    <button type="submit"> Registrar </button>
</form>